/* CSS Reset */

/* 1. Apply the default box-sizing model to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin from all elements */
* {
    margin: 0;
}

/* 3. Set the height of html and body to 100% for percentage-based height calculations */
html,
body {
    height: 100%;
    font-size: 100%;
}

/* 4. Set the default line-height of the body and enable font smoothing for better readability */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. Ensure media elements like images, videos, and SVGs do not exceed their parent container */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit the default font style for form elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Allow text to wrap when it overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Create a new stacking context at the root node (useful for modals, overlays, etc.) */
#root,
#__next {
    isolation: isolate;
}

html {
    font-family: 'Inter', serif, sans-serif;
    font-optical-sizing: auto;
}

body {
    align-items: center;
    background-color: #0a0c1c;
    color: #fff;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #1b1937;
    border-radius: 8px;
    max-width: 327px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.card__image {
    display: block;
    background-color: #ab5cdb;
    margin-bottom: 40px;
}

.card__image img {
    opacity: 0.75;
    mix-blend-mode: multiply;
}

.card__contents {
    padding: 0 31.5px;
}

.card__contents-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 132%;
    margin-bottom: 16px;
}

.card__contents-title-insights {
    color: #ab5cdb;
}

.card__contents-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
    opacity: 0.75;
}

.card__contents-stats {
    display: flex;
    flex-direction: column;
}

.card__contents-stats-number {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px;
}

.card__contents-stats-text {
    font-family: 'Lexend Deca';
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

.card__contents-stats-text:last-child {
    margin-bottom: 32px;
}

@media (min-width: 1440px) {
    .card {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1110px;
        text-align: left;
    }

    .card__image {
        margin-bottom: 0;
        max-width: max-content;
    }

    .card__image img {
        height: 100%;
    }

    .card__contents {
        padding: 0;
        padding-top: 71px;
    }

    .card__contents-title {
        font-size: 36px;
        width: 403px;
        margin: 0 71px 25px;
    }

    .card__contents-description {
        font-size: 15px;
        width: 374px;
        margin-left: 71px;
        margin-bottom: 72px;
    }

    .card__contents-stats {
        flex-direction: row;
        margin-left: 71px;
        gap: 63px;
    }
}